.container {
  width: 100%;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    text-align: center;
  }

  .button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    color:rgb(0, 0, 255, 0.7);
    &:hover {
      color: blue;
    }
  }
}

.warning {
  color: red;
  font-weight: 600;
}
