.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 5px 15px;
  background-color: rgb(107 114 128);
  color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.user {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #ffffff;
  font-size: 18px;
}

.icon {
  color: #ffffff;
}
