.container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.searchContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.button {
  margin: 20px 0;
}
